html {
    font-size: 62.5%; 
    text-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;
}

body { 
    background: #000;
    // max-width: 1366px;
    margin: auto;
    font-family: 'Roboto', sans-serif; 
    font-family: 'futuraBook', sans-serif;
    font-family: 'futuraStd', sans-serif;
    text-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

img {
    width: 100%;
}

p {
    margin: 0;
    font-size: 1.6rem;
}

ul {
    list-style: none;
    padding: 0; 
} 

.circle {
    border-radius: 1000px; 
}

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

