@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
} 

@function set-text-color($color) {

    @if (lightness( $color ) > 60) {
        @return black;
    }
    @else {
        @return white;
    }
    
}
 
// $color-shadow: #fff; 
$color-accent: $secondary;

$color-background: tint($color-primary, 90% );
$color-background-shade: shade($color-primary, 15% );
$color-background-invert: $color-primary; 


// $color-text: darken($t-color, 15);
// $color-text-weak: tint($color-text, 10% );;
// $color-text-strong: shade($color-text, 8% );

$color-text-heading: $t-heading;

//$color-text-invert: rgba($color-background, .75);
//$color-text-strong-invert: $color-background; 
// $color-text-invert: rgba(#e7edf5, 1); 
// $color-text-strong-invert: rgba(#fcfcfc, 1);
$color-text-invert: #e7edf5; 
$color-text-strong-invert: #fcfcfc;
$color-text-weak-invert: rgba(222, 229, 238, 0.815);

$color-border: tint($color-primary, 90% );

@if set-text-color($color-primary) == black {
    // $color-text-invert: rgba(#000000c5, 1);
    // $color-text-strong-invert: rgba(#000000, 1) ;
    // $color-text-weak-invert: rgba(#0000009f, 1);
    $color-text-invert: #000000ef;
    $color-text-strong-invert: #000000;
    $color-text-weak-invert: #0000009f;
    $color-border: shade($color-primary, 20% );
}

$color-text-link: $third;
// $color-text-link-visited: #fff;
// $color-text-link-hover: #fff;
$color-border-top: rgba(204, 204, 204, 0.438);

//other
$sidebar-width: 20rem;
$header-height: 0rem;