@import "variablesContent";
@import "colors.scss"; 

@function getColor($clr) {
    @if (lightness( shade($clr, 35%) ) > 60) {
        @return shade($color-background, 98%); 
    }
    @else {
        @return tint($color-background, 80%); 
    }
}
.main-content { 
    display: inline-block;
    min-height: calc(100vh - #{$header-height});
    width: calc(100% - #{$sidebar-width}); 
    margin-left: $sidebar-width;
    background: $color-background-invert;
    padding: 1.5rem 1rem; 
    // font-family: 'Futura Pt', sans-serif;
    font-size: inherit;
    padding-bottom: 5rem;
} 

.headings { 
    font-size: $font-size-heading;
    font-weight: $font-weight-heading;
    letter-spacing: $letter-spacing-heading;
    color: $color-text-heading;
    margin-bottom: 2.5rem;
} 

.session-admin {
    
    & label {
        font-size: $font-size-text-input-small;
        letter-spacing: .1rem;
        font-weight: 200; 
    } 
}

.table { 
    font-size: $font-size-table;
    font-weight: $font-weight-table;
    letter-spacing: $letter-spacing-table;
    background: $color-background;
    // color: $color-text-strong-invert; 
    color: $color-text-invert;
    text-transform: initial;
    border: 1px solid rgba(204, 204, 204, 0.767);
    text-align: center; 
    

    & thead th {  
        $color-bc-table-head: $color-accent;
        background: $color-bc-table-head;
        font-weight: $font-weight-table; 
        color: getColor($color-bc-table-head); 
        text-transform: uppercase;
        border: none;
        padding: 1.5rem 2rem 1rem;
        // border-radius: .3rem;
    }

    & td, & th { 
        border-top: 1px solid $color-border-top;  
        padding: 1rem 2rem;
        font-weight: $font-weight-table;
        & a {
            color: $color-text-link; 
            padding-bottom: 0rem;
            border-bottom: .1rem solid $color-text-link;
            transition: all .2s ease;

            &:hover {
                color: $color-accent;
                border-bottom: .1rem solid  $color-accent;
            }
        }
    }
    tr:nth-child(even) {
        // background-color: tint($color-accent, 95%);
    }
}

$trans-time: 300ms;
$width: 100%; 


.group {
    position: relative;
    font-size: $font-size-text-input;
    font-weight: $font-weight-text-input;
    letter-spacing: $letter-spacing-text-input;
    color: $color-text-strong-invert;
    margin: 0 0 2rem 0;
 

    & input, & select  { 
        background: none; 
        font-size: inherit;
        font-weight: inherit; 
        letter-spacing: $letter-spacing-text-input;
        color: inherit;
        padding: 1rem 1rem 1rem .3rem;
        display: block;
        width: $width;
        border: none;
        border-radius: 0;
        border-bottom: .1rem solid $color-border;
        &:focus {
            outline: none;
        }
        &:focus ~ label,
        &:valid ~ label {
            top: -1rem;
            left: .3rem;
            font-size: $font-size-text-input-small; 
        } 
        &:valid ~ label { 
            color: $color-text-weak-invert;
            font-weight: 500;
            letter-spacing: 0.1rem;
        }
        &:focus ~ label { 
            color: $third;
            font-weight: 500;
            letter-spacing: 0.2rem;
        }
        &:focus ~ .bar:before {
            width: $width;
        }

        & option { 
            background: $color-background-shade;
            color: inherit;  
            &:focus {
                outline: none;
            }
            &[value="1"] {
                // color: $color-text-invert;  
            }
        } 
    } 
     
      
    & label { 
        text-transform: uppercase;
        color: inherit;
        font-weight: inherit;
        font-size: inherit; 
        letter-spacing: inherit;
        position: absolute;
        pointer-events: none;
        left: .5rem;
        top: 1rem;
        transition: $trans-time ease all;
    }
      
    & .bar {
        position: relative;
        display: block;
        width: $width;
        &:before {
            content: '';
            height: .1rem;
            width: 0;
            bottom: 0px;
            position: absolute;
            background: $third;
            transition: $trans-time ease all;
            left: 0%;
        }
    }
 
}
    
 
.ca-btn {
    $ca-btn-background:  $color-text-link;
    color: getColor($ca-btn-background); 
    text-transform: uppercase;
    background: $ca-btn-background;
    font-weight: $font-weight-button-big;
    font-size: $font-size-button-big; 
    padding: 1rem 2.5rem;
    border: 0;
    cursor: pointer;
    letter-spacing: $letter-spacing-button-big;
    border-radius: .3rem;
    transition: all .3s ease-in-out;
    &:hover {
        $ca-btn-background-hover: $color-accent;
        background: $ca-btn-background-hover;
        color: getColor($ca-btn-background-hover); 
    }
    &:focus {
        outline: none;
    }
}
 
$filter-padding: 1rem 2rem;

.filter {
    font-size: $font-size-table;
    font-weight: $font-weight-table;
    letter-spacing: $letter-spacing-table;  

    &__select { 
        padding: .375rem .75rem;
        font-size: $font-size-text-input; 
        color: $color-text-invert;
        background-color: $color-background; 
        border: 1px solid $color-border-top;
        border-radius: 0rem;
        height: 3rem !important;
    }
    
    &__head {
        color: $color-text-strong-invert;
        margin-right: 2rem;
        padding: $filter-padding;
        background: $color-background-shade;
    }

    &__item {
        margin-bottom: 1.5rem;
        display: inline-block;
        cursor: pointer;
        color: $color-text-invert;
        padding: $filter-padding;
        margin-right: 2rem;
        // border: .1rem solid $color-border;
        transition: all .3s ease;
        position: relative; 

        &:hover {
            border: none;
            padding: $filter-padding;
            background: $color-accent;
            color: $color-text-strong-invert;
        }

        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border: .1rem solid $color-background-shade; 
        }
    }
}

.button {
    margin-bottom: 4rem; 
    &__submit {
        $color-bc-button: $color-accent;
        color: getColor($color-bc-button); 
        cursor: pointer;
        font-size: $font-size-button-regular;
        text-transform: uppercase;
        padding: .5rem 2.5rem; 
        background: $color-bc-button;
        border: none; 
        
        letter-spacing: $letter-spacing-button-regular;
        transition: all .3s ease;
        margin-right: 1.5rem;
        font-weight: 200; 
        // border-radius: .3rem;
        &:hover {
            $color-bc-button-hover: $third;
            background: $color-bc-button-hover;
            color: getColor($color-bc-button-hover);
        }
        &:focus {
            outline: none;;
        }
    }
}

.slow-spin {
    -webkit-animation: fa-spin 6s infinite linear;
    animation: fa-spin 6s infinite linear;
}