@import "variablesContent";
@import "colors.scss"; 

.main-content { 
    display: inline-block;
    min-height: calc(100vh - #{$header-height});
    width: calc(100% - #{$sidebar-width}); 
    margin-left: $sidebar-width;
    background: $color-background-invert;
    padding: 4rem 3.5rem; 
    font-family: 'Futura Pt', sans-serif;
    font-size: inherit;
} 

.headings { 
    font-size: $font-size-heading;
    font-weight: $font-weight-heading;
    letter-spacing: $letter-spacing-heading;
    color: $color-text-heading;
    margin-bottom: 4rem;
} 

.table { 
    font-size: $font-size-table;
    font-weight: $font-weight-table;
    letter-spacing: $letter-spacing-table;
    background: $color-background-shade;
    // color: $color-text-strong-invert; 
    color: $color-text-invert;
    text-transform: initial;
    // border: 1px solid #ccc;

    & thead th {  
        font-weight: $font-weight-table;
        color: $color-text-invert;
        color: $color-text-weak-invert;
        text-transform: uppercase;
        border: none;
        padding: 3rem 2rem 1rem;
    }

    & td, & th { 
        border-top: 1px solid $color-border;  
        padding: 2rem 2rem;
        font-weight: $font-weight-table;
        & a {
            color: $color-accent; 
            padding-bottom: 0rem;
            border-bottom: .1rem solid $color-accent;
            transition: all .3s ease;

            &:hover {
                color: $color-text-strong-invert;
            }
        }
    }
}

$trans-time: 300ms;
$width: 100%; 


.group {
    position: relative;
    font-size: $font-size-text-input;
    font-weight: $font-weight-text-input;
    letter-spacing: $letter-spacing-text-input;
    color: $color-text-strong-invert;
    margin: 0 0  4rem 0;

    & select {
        text-transform: uppercase;
    }

    & input, & select  { 
        background: none; 
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        
        color: inherit;
        padding: 1rem 1rem 1rem .3rem;
        display: block;
        width: $width;
        border: none;
        border-radius: 0;
        border-bottom: .1rem solid $color-border;
        &:focus {
            outline: none;
        }
        &:focus ~ label,
        &:valid ~ label {
            top: -1rem;
            left: .3rem;
            font-size: $font-size-text-input-small; 
        } 
        &:valid ~ label { 
            color: $color-text-weak-invert;
        }
        &:focus ~ label { 
            color: $color-accent;
        }
        &:focus ~ .bar:before {
            width: $width;
        }

        & option { 
            background: $color-background-shade;
            color: inherit;  
            &:focus {
                outline: none;
            }
            &[value="1"] {
                // color: $color-text-invert; 
            }
        } 
    } 
     
      
    & label { 
        text-transform: uppercase;
        color: inherit;
        font-weight: inherit;
        font-size: inherit; 
        letter-spacing: inherit;
        position: absolute;
        pointer-events: none;
        left: .5rem;
        top: 1rem;
        transition: $trans-time ease all;
    }
      
    & .bar {
        position: relative;
        display: block;
        width: $width;
        &:before {
            content: '';
            height: .1rem;
            width: 0;
            bottom: 0px;
            position: absolute;
            background: $color-accent;
            transition: $trans-time ease all;
            left: 0%;
        }
    }
 
}
   

@mixin center($extend: true) {
    @if $extend {
        @extend %center;
    } @else { 
        position: absolute; 
        right: 0; 
    }
}

%center {
    @include center($extend: false);
}

.ca-btn { 
    @include center; 
    background: shade($color-primary, 35%);
    @if (lightness( shade($color-primary, 35%) ) > 60) {
        color: shade($color-background, 90%); 
    }
    @else {
        color: tint($color-background, 40%); 
    } 

    font-size: $font-size-button-big;
    font-weight: $font-weight-button-big;
    letter-spacing: $letter-spacing-button-big;
    
    width: 20rem;
    height: 6rem;
    border: 0; 
    border-radius: 0; 
    transition: .6s; 
    text-transform: uppercase;
    overflow: hidden;
    &:focus{
        outline: 0;
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.5);
        width: 6rem;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-10rem)  skewX(-15deg);
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.2);
        width: 3rem;
        height: 100%;
        left: 3rem;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
    }
    &:hover{
        background: $color-accent;
        cursor: pointer;
        &:before{
            transform: translateX(300px)  skewX(-15deg);  
            opacity: 0.6;
            transition: .7s;
        }
        &:after{
            transform: translateX(300px) skewX(-15deg);  
            opacity: 1;
            transition: .7s;
        }
    }
  }


$filter-padding: 1rem 2rem;

.filter {
    font-size: $font-size-table;
    font-weight: $font-weight-table;
    letter-spacing: $letter-spacing-table;
    
    &__head {
        color: $color-text-strong-invert;
        margin-right: 2rem;
        padding: $filter-padding;
        background: $color-background-shade;
    }

    &__item {
        margin-bottom: 1.5rem;
        display: inline-block;
        cursor: pointer;
        color: $color-text-invert;
        padding: $filter-padding;
        margin-right: 2rem;
        // border: .1rem solid $color-border;
        transition: all .3s ease;
        position: relative; 

        &:hover {
            border: none;
            padding: $filter-padding;
            background: $color-accent;
            color: $color-text-strong-invert;
        }

        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border: .1rem solid $color-background-shade; 
        }
    }
}

.button {
    margin-bottom: 4rem;
    &__submit {
        cursor: pointer;
        font-size: $font-size-button-regular;
        text-transform: uppercase;
        padding: 1rem 4rem;
        background: $color-background-shade;
        border: none;
        color: $color-accent;
        letter-spacing: $letter-spacing-button-regular;
        transition: all .3s ease;
        margin-right: 1.5rem;

        &:hover {
            background: $color-accent;
            color: black;
        }
    }
}