
@font-face {
    font-family: 'Futura Std';
    font-style: normal;
    font-weight: 200;

    src: url('./fonts/futura/FuturaStd-Light.otf') format('otf'); 
}

@font-face {
    font-family: 'Futura Pt';
    font-style: normal;
    font-weight: 200;

    src: url('./fonts/futura/futura-pt-light.otf') format('otf'); 
}

@font-face {
    font-family: 'Futura Pt';
    font-style: normal;
    font-weight: 300;

    src: url('./fonts/futura/futura-pt-book.otf') format('otf'); 
} 

@font-face {
    font-family: 'Futura Pt';
    font-style: normal;
    font-weight: 500;

    src: url('./fonts/futura/futura-pt-medium.otf') format('otf'); 
}

@font-face {
    font-family: 'Futura Pt';
    font-style: normal;
    font-weight: 600;

    src: url('./fonts/futura/futura-pt-demibold.otf') format('otf'); 
}

@font-face {
    font-family: 'Futura Pt';
    font-style: normal;
    font-weight: 700;

    src: url('./fonts/futura/futura-pt-bold-589e44b6aacd3.otf') format('otf'); 
}

@font-face {
    font-family: 'Futura Pt';
    font-style: normal;
    font-weight: 800;

    src: url('./fonts/futura/futura-pt-heavy-589a6dd12187e.otf') format('otf'); 
}
