
$color-a: #f5f6fa; 
$color-a-dark: rgb(26, 66, 185);
$color-a-light: rgb(66, 102, 209);
$color-a-font: #f5f6fa;
$color-a-font-hover: #fff;

$color-b: #4C0A74; 
$color-b-dark: #440968;  
$color-b-light: #6a1b9a;
$color-b-font: #cb74ff;
$color-b-font-hover: #eae1f0;

$sidebar-width: 25rem;
$header-height: 5rem;
 
.main-content { 
    display: inline-block;
    min-height: calc(100vh - #{$header-height});
    width: calc(100% - #{$sidebar-width}); 
    margin-left: $sidebar-width;
    background: $color-b-light;
    padding: 2.5rem 3.5rem;
    // vertical-align: top; 
} 


.header {
    height: $header-height;
    background: $color-a;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sidebar { 
    position: fixed; 
    // overflow-y: scroll;
    top: $header-height;
    min-height: calc(100vh - #{$header-height}); 
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    color: $color-b-font;
    background: $color-b;
    // text-transform: uppercase; 
    font-weight: 600;
    letter-spacing: .2rem; 

    &__user {
        // display: none;
        height: $sidebar-width;
        width: $sidebar-width;
        background: $color-b-dark;

        padding: 5rem; 

        &--round {
            height: 100%;
            width: 100%; 
        }
    }

    &__list {  
        font-size: 1.4rem; 
        padding-top: .5rem; 
        
        &--item { 
            padding: 1.3rem 2rem;
            cursor: pointer;
            display: inline-block;
            width: 100%; 
            position: relative;

            &[aria-expanded="true"] {
                background: $color-b-dark;
            }

            & .fa-fw {
                margin-right: 1.5rem;
            }

            & .fa-angle-down {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 2rem;
            }

            &:hover, &:active, &:focus {
                background: $color-b-dark;
                color: $color-a-font-hover;
            }
        } 
    } 

    &__sub-list { 
        font-size: 1.2rem;  
        padding: 0 0 1.2rem 0;
        background: $color-b-dark;

        &--item { 
            padding: .5rem 6rem;
            cursor: pointer;

            & a:hover, & a:active, & a:focus {
                color: $color-b-font-hover;
        
            }
        }
    } 
}

.headings {
    font-family: 'futuraStd';
    font-size: 4.8rem;
    color: $color-a-font-hover;
}

.btn {
    font-size: 1.8rem;
}