@import "variablesSidebar";
@import "colors.scss"; 
 

.header {
    height: $header-height;
    // background: $color-a;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sidebar { 
    @include font-w-reg;
    position: fixed; 
    // overflow-y: scroll;
    top: $header-height;
    min-height: calc(100vh - #{$header-height}); 
    min-width: $sidebar-width;
    max-width: $sidebar-width;

    background: $color-background-invert;
    color: $color-text-invert;  
    letter-spacing: $letter-spacing-reg; 
    font-size: $font-reg;

    &__user {
        // display: none;
        height: $sidebar-width;
        width: $sidebar-width;
        background: $color-background-shade;
        color: $color-text-strong-invert;

        padding: 5rem; 

        &--round {
            height: 100%;
            width: 100%; 
        }
    }

    &__list {  
        font-size: $font-reg; 
        padding-top: .5rem; 
        
        &--item { 
            padding: 1.3rem 2rem;
            cursor: pointer;
            display: inline-block;
            width: 100%; 
            position: relative; 

            & .fa-fw {
                margin-right: 1.5rem;
            }

            & .fa-angle-down {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 2rem;
            }

            &[aria-expanded="true"], &:hover, &:active, &:focus {
                background: $color-background-shade;
                color: $color-text-strong-invert;
            }
        } 
    } 

    &__sub-list { 
        @include font-w-thin;
        font-size: $font-small; 
        padding: 0 0 1.2rem 0;
        background: $color-background-shade;
        letter-spacing: $letter-spacing-small; 

        &--item { 
            padding: .5rem 6rem;
            cursor: pointer;

            & a:hover, & a:active, & a:focus {
                color: $color-text-strong-invert; 
            }
        }
    } 
}

