$color-primary: #131118; 
$t-heading: #fff;
$secondary: #ED2A76;

$letter-spacing-menu: .2rem;  
$letter-spacing-sub-menu: .2rem;  

$font-size-menu: 1rem; 
$font-size-sub-menu: .9rem; 

$font-weight-menu: 200; 
$font-weight-sub-menu: 200; 