$color-primary: rgb(252, 250, 253); 
$t-heading: #fff;
$secondary: #ED2A76;

$letter-spacing-menu: .1rem;  
$letter-spacing-sub-menu: .1rem;  

$font-size-menu: 1.4rem; 
$font-size-sub-menu: 1.2rem; 

$font-weight-menu: 200; 
$font-weight-sub-menu: 200; 